@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet : hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-grayish-violet);
    
}



.top-left-corner {
    background-image: linear-gradient(var(--light-magenta) ,var(--light-violet));
    height: 600px;
    width: 50%;
    position: absolute;
    z-index: -1;
    border-bottom-right-radius: 100%;
}

.phone-container {
    border: 15px;
    border-color: var(--white);
    border-radius: 50px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10vh;
    position: relative;
    background-color: var(--light-grayish-violet);
    max-width: 80%;
    left: 10%;
}

.screen-top {
    width: 30%;
    height: 30px;
    background-color: var(--white);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* border-radius: 50px; */
    position: absolute;
    }

    .app-user {
        background-image: linear-gradient(to left, var(--light-magenta) ,var(--light-violet));
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        padding: 30px 10px;
        gap: 10px;

    }

    .app-user button {
        background: none;
        border: none;
         font-size: 50px;
        color: var(--white);
        
  }



  .user-image img {
      border-radius: 50%;
      max-height: 60px;
      border-color: var(--white);
        border-style:solid;
        
    }

    .user-review {
        color: var(--white);
        flex-grow: 1;
    }

    .user-review h3 {
        color: var(--white);
    }
    .user-review p {
        color: var(--light-grayish-violet);
        font-weight: 400;
    }

    .chat-story {
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 10px;
    }

    .chat-messege-container-dark {
        color: var(--moderate-violet);
        background-color: var(--grayish-blue);
        padding: 10px; 
        max-width: 60%;
        border-radius: 10px;
    }

    .chat-messege-images {
        display: flex;
        gap: 10px;
        justify-content:  flex-end;
        max-width: 60%;
        align-self: flex-end;
    }

    .chat-messege-images img {
        border-radius: 10px;
        max-height: 40px;
        max-width: 40px;
        
    }

    .chat-messege-container-lite {
        color: var(--desaturated-dark-violet);
        background-color: var(--white);
        padding: 10px; 
        max-width: 60%;
        border-radius: 10px;
        align-self: flex-end;
    }

    .time-order {
        background-image: linear-gradient(to right, var(--light-magenta) ,var(--light-violet));
        max-width: 70%;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
    }
    
    .time-order input {
        color: var(--very-light-magenta);
      cursor: pointer;  
    }

    .time-order h2 {
        flex-grow: 1;
        text-align: right;
        color: var(--white);
    }

    .messege-input {
        border-radius: 20px;
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
       
    }

    .messege-input input {
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        font-family: 'Rubik', sans-serif;
        color: var(--dark-grayish-violet);
    }

 
    .messege-input input::placeholder {
        color: var(--grayish-blue);
        
    }

    .messege-input button {
        background-color: var(--very-dark-desaturated-violet);
        color: var(--white);
        padding: 10px;
        border-radius: 100%;
        margin: 5px;
        font-size: 16px;
        font-weight: 700;
        border: none;
    }