@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet : hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

}


/* font-size: 16px */

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

img {
    display: block;
}

body {
    font-family: 'Rubik', sans-serif;
}